<!DOCTYPE html>
<html>
  <head>
    <title>StudyBuddi Home Page!</title>

    <!--needed meta characteristics-->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS find way to change color/organiation-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />

    <style>
      /*carousel stylings*/
      .carousel-image {
        max-width: 100%; /* Set max-width to ensure responsiveness */
        height: auto; /* Let the height adjust accordingly */
      }

      .head {
        text-align: center;
        color: #140014;
        padding-top: 100px;
        font-size: 300%;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }

      .para {
        margin: 20px;
        color: #140014;
        text-align: center;
        font-size: 200%;
      }

      body {
        background-color: #a0659180;
      }
      #carouselExampleInterval {
        margin: 1rem 20rem 1rem 20rem;
      }
      
    </style>
    <!--Nav Bar-->
    <header>
      <div class="header">
        <h1 class="company_name">StudyBuddi</h1>
        <button onclick="location.href='login.html'">Profile</button>
        <button onclick="location.href='match.html'">Matches</button>
        <button onclick="location.href='login.html'">Log In</button>
      </div>
    </header>
  </head>
  <body>
    <h1 class="head" font="sans-serif">Welcome to StudyBuddi!</h1>
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-ride="carousel"
      data-interval="2000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="./createprofilegif.gif"
            class="d-block w-100 carousel-image"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
        </div>
        <div class="carousel-item">
          <img
            src="./meetingpplimg.jpg"
            class="d-block w-100 carousel-image"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
        </div>
        <div class="carousel-item">
          <img
            src="./studygroupimg.png"
            class="d-block w-100 carousel-image"
            alt="..."
          />
                    <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleInterval"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleInterval"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="para">
      Welcome to StudyBuddi! Your place to meet peers! Our site is dedicated to
      building companionship and academic connections in and out of the
      classroom!
    </div>
    <button>Login</button>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
